<div class="nuevo-recordatorio">
  <div class="recordatorio-hora">
    <p>4</p>
  </div>
  <div class="recordatorio-info">
    <p>recordatorios pendientes en Andromeda Home</p>
  </div>
  <div class="recordatorio-action"></div>
  <div class="recordatorio-action">
  </div>
</div>
<div class="nuevo-recordatorio">
  <div class="recordatorio-hora">
    <p>{{numOfUsers}}</p>
  </div>
  <div class="recordatorio-info">
    <p>Usuarios En Andromeda Home</p>
  </div>
  <div class="recordatorio-action"></div>
  <div class="recordatorio-action">
  </div>
</div>
<div class="nuevo-recordatorio">
  <div class="recordatorio-hora">
    <p>{{request.session.idAndromeda}}</p>
  </div>
  <div class="recordatorio-info">
    <p>Identificador Andromeda Home</p>
  </div>
  <div class="recordatorio-action"></div>
  <div class="recordatorio-action">
  </div>
</div>


<div id="container" class="graficar"></div>
