<div class="ayuda">
  <h2>Bienvenido</h2>
  <p>En andromeda encontraras grandes funciones pero no se queda ahi necesitas interactuar con <i>Andromeda Home</i>
  Para obtener una mejor experiencia, porque no le preguntas <i>¿Andromeda que puedes hacer por mi?</i>
  Andromeda  y Andromeda Home es un proyecto creado para la materia de Paradigmas de la programación
  Andromeda es un proyecto hecho en Django
  Andromeda Home Es un proyecto hecho speech to text y text to speech el cual te ayuda en tareas del día a día
  Actualmente nuestra vida tiene un ritmo acelerado donde todo se nos olvida, andromeda tiene el proposito de hacer que nada se te olvide y tener todo a tiempo
  Puedes hacer que Andromeda te recuerde todo solo Dile que haga o con la aplicacion te servira para agregar recordatorios.
  Para usar esta función procura subir el Volumen de tu Dispositivo Móvil</p>
  <p class="creditos">Enrique Aguilar & Miguel Urbina</p>
</div>
