{% load staticfiles %}
<div class="imagen-perfil">
  <img src="{% static 'images/' %}{{request.session.userAndromeda.imagen}}" alt="">
  <label for="subir">Cambiar Foto de perfil</label>
  <input type="file" name="foto" value="" id="subir" style="display:none;">
</div>
<div class="info-usuario">
  <span class="input input--isao">
		<input class="input__field input__field--isao" type="text" id="input-38" placeholder="{{user.first_name}}">
		<label class="input__label input__label--isao" for="input-38" data-content="Cambia tu nombre">
			<span class="input__label-content input__label-content--isao">Tu nombre</span>
		</label>
	</span>
  <span class="input input--isao">
		<input class="input__field input__field--isao" type="text" id="input-39" placeholder="{{user.username}}" readonly>
		<label class="input__label input__label--isao" for="input-39" data-content="Recuerda tu username ya puede ser modificado">
			<span class="input__label-content input__label-content--isao">Tu Nombre de Usuario</span>
		</label>
	</span>
  <span class="input input--isao">
		<input class="input__field input__field--isao" type="text" id="input-40" placeholder="{{user.email}}">
		<label class="input__label input__label--isao" for="input-40" data-content="Cambia tu correo">
			<span class="input__label-content input__label-content--isao">Tu correo</span>
		</label>
	</span>
  <input type="submit" name="" value="Guardar" id="comenzar" onclick="">
</div>
