{% load staticfiles %}
<div class="recordatorios">
  <h2>Recordatorios</h2>
  <div class="nuevo-recordatorio">
    <div class="recordatorio-hora">
    </div>
    <div class="recordatorio-info">
      <p>Agregar un recordatorio</p>
    </div>
    <div class="recordatorio-action"></div>
    <div class="recordatorio-action complete">
      <a href="#" onclick="nuevo()"><img src="{% static 'images/add-button-inside-black-circle.svg' %}" alt=""></a>
    </div>
  </div>
  <div class="recordatorio importancia-sin">
    <div class="recordatorio-hora">
      <p>12:34pm</p>
    </div>
    <div class="recordatorio-info">
      <p>Pasear al perro</p>
    </div>
    <div class="recordatorio-action delete">
      <img src="{% static 'images/rubbish-bin.svg' %}" alt="">
    </div>
    <div class="recordatorio-action complete">
      <img src="{% static 'images/tick-inside-circle.svg' %}" alt="">
    </div>
  </div>
  <div class="recordatorio importancia-alta">
    <div class="recordatorio-hora">
      <p>12:34pm</p>
    </div>
    <div class="recordatorio-info">
      <p>Pasear al perro</p>
    </div>
    <div class="recordatorio-action delete">
      <img src="{% static 'images/rubbish-bin.svg' %}" alt="">
    </div>
    <div class="recordatorio-action complete">
      <img src="{% static 'images/tick-inside-circle.svg' %}" alt="">
    </div>
  </div>
  <div class="recordatorio importancia-moderada">
    <div class="recordatorio-hora">
      <p>12:34pm</p>
    </div>
    <div class="recordatorio-info">
      <p>Pasear al perro</p>
    </div>
    <div class="recordatorio-action delete">
      <img src="{% static 'images/rubbish-bin.svg' %}" alt="">
    </div>
    <div class="recordatorio-action complete">
      <img src="{% static 'images/tick-inside-circle.svg' %}" alt="">
    </div>
  </div>
  <div class="recordatorio importancia-baja">
    <div class="recordatorio-hora">
      <p>12:34pm</p>
    </div>
    <div class="recordatorio-info">
      <p>Pasear al perro</p>
    </div>
    <div class="recordatorio-action delete">
      <img src="{% static 'images/rubbish-bin.svg' %}" alt="">
    </div>
    <div class="recordatorio-action complete">
      <img src="{% static 'images/tick-inside-circle.svg' %}" alt="">
    </div>
  </div>
</div>
