{% load staticfiles %}
<div class="recordatorios">
  <h2>Recordatorios</h2>
  <div class="nuevo-recordatorio">
    <div class="recordatorio-hora">
    </div>
    <div class="recordatorio-info">
      <p>Agregar un recordatorio</p>
    </div>
    <div class="recordatorio-action"></div>
    <div class="recordatorio-action complete">
      <a href="#" onclick="nuevo()"><img src="{% static 'images/add-button-inside-black-circle.svg' %}" alt=""></a>
    </div>
  </div>
  <div id="recordatorios"></div>
</div>
